# Virtual Environment
venv/
.env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Test / coverage
.coverage
htmlcov/

# Build / packaging
dist/
build/
*.egg-info/

# Docker
*.pid

# Jupyter (혹시 쓸 경우)
.ipynb_checkpoints/